<div id="section-bg">
  <div id="section-text">
    Research Projects
  </div>
</div>
<div id="content-bg">
    <div id="content-text-align">
        <dl class="ref-apa">
          <dt>2018</dt>
          <dd><span>Title: New challenges in spatio-temporal modelling with applications in health, violence against women, and remote sensing</span>, ProjectID: MTM2017-82553-R, Main Researcher: M. Dolores Ugarte,</dd>
          <dt>2017</dt>
          <dd><span>Title: Inequalities in Healt: Study of the temporal evolution pattern of incidence and mortality cancer in small areas</span>, ProjectID: 113. 2186/2014, Main Researcher: A. F. Militino</dd>
          <dt>2016</dt>
          <dd><span>Title: Modeling both satellite and grand-truth data for estimating spatio-temporal trends with remote sensing data: applications to monitoring crops with the normalized difference vegetation index (NDVI) and the land surface temperature (LST)</span>, ProjectID: 2016/PI015 MODELIZACIÓN, Main Researcher: A. F. Militino</dd>
          <dd><span>Title: Disease Mapping and applications to the spatio-temporal patterns of incidence and mortality cancer</span>, ProjectID: MTM2014-51992-R, Main Researcher: M. Dolores Ugarte</dd>
          <dt>2015</dt>
          <dd><span>Title: Contributions to spatio-temporal modelling with appplications in epidemiology, climatology, paleoecology, and GNSS</span>, ProjectID: MTM2011-22664, Main Researcher: M. Dolores Ugarte</dd>
        </dl>
    </div>
</div>