<div id="section-bg">
  <div id="section-text">
    Publications
  </div>
</div>
<div id="content-bg">
    <div id="content-text-align">
        <dl class="ref-apa">
          <dt>2018</dt>
          <dd><a href="http://www.mdpi.com/2072-4292/10/3/398" target="_blank"><span>Improving the Quality of Satellite Imagery Based on Ground-Truth Data from Rain Gauge Stations.</span></a> Remote Sensing 10.3 (2018):398; doi:10.3390/rs10030398, Militino, A. F., Ugarte, M.D. and Pérez-Goya, U.</dd>
          <dd><a href="https://link.springer.com/chapter/10.1007/978-3-319-73848-2_28" target="_blank"><span>Detecting Change-Points in the Time Series of Surfaces Occupied by Pre-defined NDVI Categories in Continental Spain from 1981 to 2015</span></a> The Mathematics of the Uncertain, Studies in Systems, Decision and Control 142, <url>https://doi.org/10.1007/978-3-319-73848-2_28</url>, Militino, A.F., Ugarte, M.D. and Pérez-Goya, U., Springer International Publishing AG, part of Springer Nature 2018 E. Gil et al.</dd>
          <dd><a href="https://link.springer.com/chapter/10.1007/978-3-319-78999-6_13" target="_blank"><span>An introduction to the spatio-temporal analysis of satellite remote sensing data for geostatisticians</span></a>, Militino, A. F., Ugarte, M.D. and Pérez-Goya, U., Chapter 13 of Springer Handbook of Mathematical Geosciences: Fifty Years of IAMG, Editors: B. S. Daya Sagar, Qiuming Cheng, Frits Agterberg (Eds.)</dd>
        </dl>
        <dl class="ref-apa">
          <dt>2017</dt>
          <dd><a href="https://doi.org/10.3390/rs9010076" target="_blank"><span>Stochastic Spatio-Temporal Models for Analysing NDVI Distribution of GIMMS NDVI3g Images</span></a>. Remote Sensing, 2017, 9(1), 76; doi:10.3390/rs9010076, Militino, A. F., Ugarte, M.D. and Pérez-Goya, U.</dd>
        </dl>
    </div>
  </div>