<div id="section-bg">
  <div id="section-text">
    Research
  </div>
</div>
<div id="content-bg">
    <div id="content-text-align">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/cloud-filling-small.jpg"></img>
                    <h3 class="title-color">Gap-filling techniques</h3>
                    <p class="text-left">We develop an alternative method for filling gaps, produced by clouds, called interpolation of the mean anomalies (IMA). The method uses spatio-temporal data to reconstruct images time-series.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/smoothing-small.jpg"></img>
                    <h3 class="title-color">Image smoothing</h3>
                    <p class="text-left">Satellite images can maintain residual noise arising from clouds removal processes. We did a study to show how ground-truth data from rain gauge stations can smooth this noise and improve the quality of satellite imagery.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/downscaling-small.jpg"></img>
                    <h3 class="title-color">Downscaling procedures</h3>
                    <p class="text-left">We are working in a fast and simple downscaling procedure to improve spatial resolution of satellite images time-series, for allowing spatiao-temporal analisis of small regions.</p>
                </div>
            </div>
        </div>
    </div>
</div>