<a href="mailto:unai.perez@unavarra.es" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-envelope-o'></i></a>
<a href="https://www.unavarra.es/pdi?uid=811058" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
<a href="https://www.linkedin.com/in/unai-perez-goya-00b80851/" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-linkedin'></i></a>
<a href="https://github.com/unai-perez" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-github'></i></a>
<a href="https://scholar.google.com/citations?user=1vliF8MAAAAJ&hl=en&oi=ao" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
<a href="https://orcid.org/0000-0002-2796-9079" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>

