<div id="section-bg">
  <div id="section-text">
    Teaching
  </div>
</div>
<div id="content-bg">
    <div id="content-text-align">
        <dl class="ref-apa">
          <dt>Associate lecturer in Public University of Navarre</dt>
          <dd><a href="http://www.unavarra.es/ficha-asignaturaDOA/?languageId=100001&codPlan=501&codAsig=501103&anio=2018" target="_blank"><span>Compunting</span></a></dd>
          <dd><a href="http://www.unavarra.es/ficha-asignaturaDOA/?languageId=100000&codPlan=302&codAsig=302105&anio=2018" target="_blank"><span>Resources for the develpment of teaching profession</span></a></dd>
          <dd><a href="http://www.unavarra.es/ficha-asignaturaDOA?languageId=100000&codPlan=302&codAsig=302105&anio=2018" target="_blank"><span>Communicative skills and ICT</span></a></dd>
        </dl>
        <dl class="ref-apa">
          <dt>Substitute tutor teacher in UNED Pamplona</dt>
          <dd><a href="https://portal.uned.es/portal/page?_pageid=93,53691661&_dad=portal&_schema=PORTAL&idAsignatura=71902077&idTitulacion=7101" target="_blank"><span>Introduction to software engineering</span></a></dd>
          <dd><a href="https://portal.uned.es/portal/page?_pageid=93,53691661&_dad=portal&_schema=PORTAL&idAsignatura=71901072&idTitulacion=7102" target="_blank"><span>Object-oriented programming</span></a></dd>
          <dd><a href="https://portal.uned.es/portal/page?_pageid=93,53691661&_dad=portal&_schema=PORTAL&idAsignatura=71012024&idContenido=16" target="_blank"><span>Theory of programming languages</span></a></dd>
        </dl>
    </div>
  </div>