<!-- Page Content -->
<div id="content-bg">
<div id="content-text-align">
		<h1>Unai Pérez-Goya, Phd student</h1>
	<div class="row">
        <div class="col-md-4">
            <center>
            	<img id="u-img" src="/img/Unai_600.jpg">
              <div id="u-social">
              {% include socials.html %}
              </div>
            </center>
        </div>
        <div class="col-md-8">
        	<p>
        	<span>Graduated in Computer Engineering</span> from the University of Mondragon (2012), and <span>Master in Innovation and Research in Computer Science</span> with a specialization in Distributed Systems from the Polytechnic University of Catalonia (2015). At this moment is a Phd student in the Department of Statistics, Computing and Mathematics of the Public University of Navarre. It is a member of the <a href="http://www.unavarra.es/spatial-statistics-group/" target="_blank">Spatial Statistics</a> research group and is a researcher in training at the <a href="https://www.unavarra.es/inamat" target="_blank">Institute for Advanced Materials (INAMAT)</a>. Since 2015 he has worked in different research projects as project assistant, and since 2016 is an associate lecturer in the Department of Statistics, Computing and Mathematics of the Public University of Navarre.
        	</p>
        	<p>
        	His research work is developed in the field of Remote Sensing, proposing new spatio-temporal methods of reconstruction of satellite images or adding complementary information from different data sources, for example, rainfall stations. The results derived from these researches have been published in impact journals and presented in various national and international congresses. Among the future lines of research are: fusion of data for reconstruction of satellite images and improvement of satellite image resolution (downscaling) by spatiotemporal modeling.
        	</p>
        </div>
    </div>
</div>
</div>